.height_100p{
    height: 100%;
  }
.height_33p{
    height: 33%;
}
.height_10p{
    height: 10%;
}

.height_5p{
    height: 5%;
}


.btn, .btn-large, .btn-small {

    color: #fff;
    background-color: #ba0c2f !important;

}

.color{
    color: #7f7f7f;
}

.error_text{
    color: #b61e1e;
    
}

.h2ln{
    line-height: 2em;
    
}

.error_flex{
    display: flex;
align-items: center;
justify-content: center;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #7f7f7f;
    -webkit-box-shadow: 0 1px 0 0 #7f7f7f;
    box-shadow: 0 1px 0 0 #7f7f7f;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #7f7f7f;
    background-color: #7f7f7f;
    z-index: 0;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #7f7f7f;
    border-bottom: 2px solid #7f7f7f;
    -webkit-transform: rotate(
40deg);
    transform: rotate(
40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.collection a.collection-item {
    display: block;
    -webkit-transition: .25s;
    transition: .25s;
    color: #7f7f7f;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 50%;
    left:40%;  
  }

  .theme-color {
      background-color: #7f7f7f;
  }

  .navbar-unm {
    background-color: #ba0c2f;
    border-color: #8a0923;
    font-size: 13px;
    border-radius: 0;
    margin-bottom: 0;
}

.outer-nav {
    line-height: 1.75;
    height: 27px;
}

.navbar-brand {
    margin-left: 17%;
    background: #FFF;
    color: #fff;
    position: absolute;
    border-bottom: 3px solid #ba0c2f;
    background-image: url(/static/images/unm-logo.png);
    text-indent: -999px;
    width: 235px;
    background-repeat: no-repeat;
    height: 70px;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 100;
    padding: 0;
    background-size: contain;
    top: -1px;
}

.aspire-navbar-brand {
  margin-left: 19%;
  background: #FFF;
  color: #fff;
  position: absolute;
  border-bottom: 3px solid #ba0c2f;
  background-image: url(/static/images/aspire-ckmy.svg);
  text-indent: -999px;
  width: 235px;
  background-repeat: no-repeat;
  height: 70px;
  background-position-x: 50%;
  background-position-y: 50%;
  z-index: 99;
  padding: 0;
  background-size: contain;
  top: -1px;
  color: #8b8b8b5e;
  box-shadow: 3px 5px 5px 1px;
}

@media screen and (max-width: 1024px) {
  .aspire-navbar-brand {
      display: none !important;
  }
}

.big-buttons{
  height: 56px;
  background-color: #ba0c2f;
  border-radius: 15px;
  border-style: solid;
  border-color: #a2a4a6;
  color: white;
  font-family: 'vitessesans';

  text-align: center;

}

.create-team-button{
  font-size: 24pt;
}

@font-face {
    font-family:"vitessesans";
    src: url("/static/fonts/vitessesans-medium.otf") format("opentype");
  }


.title{
    font-family: vitessesans;
    font-size: 36px;
}

.blurb_text{

font-size: 13pt;
}

.arrow_drop_down{
    height: 11px !important;
    line-height: 27px !important;
    margin-left: 0px !important;
}

.dropdown-top{
    top: 27px !important;
}

.dropdown-text{
    
    color: rgba(0,0,0,0.87) !important;
}

.flt_left{
    float: left;
}
.login-logout{
    width: 5em;
}

.ducks-nav{
    text-align: center;
    font-family: 'vitessesans';
    font-size: 13pt;
}



.unm_textfield{
    border-bottom: 1px solid #ba0c2f !important;
    box-shadow: 0 1px 0 0 #ba0c2f !important;
    font-family: 'vitessesans';
}

.unm_textfield:focus + .unm_label
{
    
    color: #ba0c2f !important;
}


.unm_label{
color:#868686;
}

.collection-top{
    vertical-align: middle;
    text-align: center;
}

.center{
  text-align: center;
}

.error_row{
  margin-top: 10%;
    text-align: center;
    font-family: 'vitessesans';
    font-size: 26pt;

}

.tiny-avatar{
    vertical-align: middle;
    width: 30px;
}

.contrib-pill{
    background-color: #ba0c2f;
    color: white;
    padding: 6px;
    border-radius: 9px;
}
.rankings-button{
    margin: 11px;
    height: 27px;
    line-height: 28px;
    font-size: small;
}

/* .progress-bar{
    background-color: #ba0c2f !important;
} */

/* .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ba0c2f;
    transition: width 0.6s ease;
  } */


  .progress {
    position: relative;
    height: 20px;
    display: block;
    width: 100%;
    background-color: #a7a8aa;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
  }
  
  .progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ba0c2f;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
  }
  

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
  }
  
  .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
  }
  
  .custom-file-input:focus ~ .custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-file-input:disabled ~ .custom-file-label {
    background-color: #e9ecef;
  }
  
  .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
  }
  
  .custom-file-input ~ .custom-file-label[data-browse]::after {
    content: attr(data-browse);
  }
  
  .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .d-none {
    display: none !important;
  }

  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .alert-heading {
    color: inherit;
  }
  
  .alert-link {
    font-weight: 700;
  }
  
  .alert-dismissible {
    padding-right: 4rem;
  }
  
  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
  
  .alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  
  .alert-primary hr {
    border-top-color: #9fcdff;
  }
  
  .alert-primary .alert-link {
    color: #002752;
  }
  
  .alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
  }
  
  .alert-secondary hr {
    border-top-color: #c8cbcf;
  }
  
  .alert-secondary .alert-link {
    color: #202326;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  
  .alert-success .alert-link {
    color: #0b2e13;
  }
  
  .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  
  .alert-info hr {
    border-top-color: #abdde5;
  }
  
  .alert-info .alert-link {
    color: #062c33;
  }
  
  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .alert-warning hr {
    border-top-color: #ffe8a1;
  }
  
  .alert-warning .alert-link {
    color: #533f03;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-danger hr {
    border-top-color: #f1b0b7;
  }
  
  .alert-danger .alert-link {
    color: #491217;
  }
  
  .alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
  }
  
  .alert-light hr {
    border-top-color: #ececf6;
  }
  
  .alert-light .alert-link {
    color: #686868;
  }
  
  .alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
  }
  
  .alert-dark hr {
    border-top-color: #b9bbbe;
  }
  
  .alert-dark .alert-link {
    color: #040505;
  }

  .create-team-div{
    position: absolute;
    bottom: 95px;
    text-align: center;
    margin-left: 45%;
  }

  .user_col{
    background-color: #63676b;
    text-align: center;
    border-radius: 15px;
    color: white;
    border-width: 10px;
    border-style: solid;
  }

  .invite_list{
    margin-top: 23px;
    font-family: 'vitessesans';
    font-size: xx-large;
  }

  .display_none{
    display:none;
  }

  .avatar_image{
    width: 183px;

    margin-right: 15px;
    float: left;
  }


  .margin-top-60p{
    margin-top: 66px;
  }

  .unm_font{
    font-family: 'vitessesans';
  }

  .pointer{
    cursor: pointer;
  }

  .team_div{
    background-color: #ba0c2f;
  }

  .thin_border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 10px;
  }