<div class="row center error_row">
    <div class="col s2 "></div>
    <div class="col s8 ">
        Oops! You Are Not Authorized to Access This Page.
    </div>
    <div class="col s2 "></div>
</div>
<div class="row center">
    <div class="col s4 "></div>
    <div class="col s4 " >
<img style="width: 98%" src="/static/images/duck_shrug.svg" alt="Duck shrug">

    </div>
    <div class="col s4 "></div>
</div>
<div class="row center error_row" style="margin-top: 0px!important;">
    <div class="col s2 "></div>
    <div class="col s8 ">
        <div>If You have an account, try logging in!</div>
        <div>If you would like to create an account , <span id="create-if-you-want">Click Here!</span></div>
    </div>
    <div class="col s2 "></div>
</div>    

<script>
    $('#create-if-you-want').click(function () {
        login_modal = M.Modal.getInstance($('#login-modal'));
        login_modal.close();
        reset_modal = M.Modal.getInstance($('#reset-pass-modal'));
        reset_modal.close();
        reset_modal = M.Modal.getInstance($('#create-pass-modal'));
        reset_modal.open();
      })
</script>