<html class="height_100p">

<head>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    
</head>

<body class="height_100p">
    <div class='height_10p center-block'></div>
    <div class='height_10p center-block'></div>
    <div class="row ">
        <div class="col s12 m4 push-m4">
            <div class="card">
                <div class="center">
                  <span class="card-title">Admin Views</span>
                </div>
                <div class="card-content">
                    <div class="collection">
                        <a href="/admin/create_user" class="collection-item">Create User</a>
                        <a href="/admin/edit_users" class="collection-item">Edit Users</a>
                        <a href="/admin/edit_api_keys" class="collection-item">API Keys</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
</body>

</html>
<script>
</script>
