<script src="/static/js/jquery.fittext.js"></script>
<div class="row p_top_70">
    <div class="col s2 "></div>
    <div class="col s2 ">
        <div class="card height_80p">
            <div class="card-image">
                <img src="/static/images/3ducks-coop-holding-hands.svg">
            </div>
            <div class="center banner_title"><span class="card-title">Cooperative Challenge</span></div>
            <div>
                <div class="card-content flow-text">
                    <p class="fit">In this challenge, all team members will work together as a team to accomplish individual and team goals. For example, if there are 5 team members, and each team member is given a goal of 5 classifications each within a determined period, when each team member accomplishes their individual goal, they will also accomplish an overall team goal of 25 classifications.</p>
                </div>
            </div>
            <div class="center button_bottom"><a href="/challenges/create_challenge/cooperative" class="waves-effect waves-light btn">Create Cooperative Challenge</a></div>
        </div>
    </div>
    <div class="col s1 "></div>
    <div class="col s2 ">
        <div class="card height_80p">
            <div class="card-image">
                <img src="/static/images/ducks_running.svg">
            </div>
            <div class="center banner_title"><span class="card-title">Competitive Challenge</span></div>
            <div>
                <div class="card-content flow-text">
                    <p class="fit">In this challenge team members will compete against one another to complete the most classifications within a given time frame. The status of the challenge will be shown as a ranked listing including a classification count for each user.</p>
                </div>
            </div>
            <div class="center button_bottom"><a href="/challenges/create_challenge/competitive" class="waves-effect waves-light btn">Create Competitive Challenge</a></div>
        </div>
    </div>
    <div class="col s1 "></div>
    <div class="col s2 ">
        <div class="card height_80p">
            <div class="card-image">
                <img src="/static/images/3ducks-team.svg">
            </div>
            <div class="center banner_title"><span class="card-title">Team Vs. Team</span></div>
            <div>
                <div class="card-content flow-text">
                    <p class="fit">In this challenge, teams will compete against one another to complete the most classifications within a given time frame. The score of each team will be a sum of all classifications completed by each team.</p>
                </div>
            </div>
            <div class="center button_bottom"><a href="/challenges/create_challenge/team" class="waves-effect waves-light btn">Create Team Challenge</a></div>
        </div>
    </div>
    <div class="col s2 "></div>
</div>
<script>
    jQuery(".fit").fitText(1.25);

    
</script>