<script src="/static/js/jquery.fittext.js"></script>


    <div class="center"><img style="width: 220px;" src="/static/images/3ducks-coop-holding-hands.svg" alt="co-op ducks">
    </div>
    <div class="center banner_title">Cooperative Challenge</div>
<div class="row margin-top-75px">
    

    <div class="col s2 "></div>
    <div class="input-field col s4 ">
        <input placeholder="Challenge Name" id="challenge_name" type="text" class="validate user_input"> <img class="tool_question_right tooltipped"  data-tooltip="Give a name to this challenge." src="/static/images/tooltip.svg" alt="">
        <label for="challenge_name">Challenge Name</label>
    </div>
    <div class="input-field col s2 ">
        <select name="team" id="team" class="user_input">
            <option value="" disabled selected>Choose your team.</option>
            {% for team in teams %}
            <option id="{{team.id}}" value="{{team.id}}">{{team.name}}</option>
            {% endfor %}
        </select>
        <label for="team">Team</label>
        <img class="tool_question_right tooltipped"  data-tooltip="What team will work on this challenge?" src="/static/images/tooltip.svg" alt="">
    </div>
    <div class="input-field col s2 ">
        <input placeholder="Number of labels to complete." id="goal_number" type="number" class="validate  user_input"><img class="tool_question_right tooltipped"  data-tooltip="How many classifications should each team member complete?" src="/static/images/tooltip.svg" alt="">
        <div class="col s5 "></div>
    </div>
    <div class="col s2 "></div>
</div>



<div class="row margin-top-75px">
    <div class="col s2 "></div>
    <div class="col s2"><input type="text" id="start-date" name="start-date" class="datepicker user_input"> <label
            for="start-date">Start Date</label></div>
    <div class="col s2 "><input type="text" id="start-time" name="start-time" class="timepicker user_input"><label
            for="start-time">Start Time</label></div>
            
    <div class="col s2 "><input type="text" id="end-date" name="end-date" class="datepicker user_input"> <label for="end-date">End
            Date</label></div>
    <div class="col s2 "><input type="text" id="end-time" name="end-time" class="timepicker user_input" ><label for="end-time">End
            Time</label>
            <img class="tool_question_right tooltipped"  data-tooltip="When should the challenge begin and end?" src="/static/images/tooltip.svg" alt="">
        </div>    
    <div class="col s2 "></div>
</div>


<div class="row margin-top-75px">
    <div class="col s4 "></div>
    <div class="col s4 ">
        <div class="center">        <label>
            <input id="public" type="checkbox" class="filled-in" checked="checked" />
            <span>Publicly Viewable Results</span>
          </label><img class="tool_question tooltipped"  data-tooltip="Should users, including team members, without a login be allowed to view this challenge?" src="/static/images/tooltip.svg" alt="">
        </div>
        
    </div>
    <div class="col s4 "></div>
</div>


<div class="center red_help_text"><a id="create-challenge" class="waves-effect waves-light btn disabled">create challenge</a></div>
<script>
    jQuery(".fit").fitText(1.25);


    challenge_name=''
    team=''
    goal_number=''
    start_datetime=undefined
    end_datetime=undefined

    function checkvalid(){
        challenge_name=$('#challenge_name').val()

        team=$("#team option:selected" ).val();
        if (team=='Choose your team.'){
            team=''
        }
        goal_number=$('#goal_number').val()
        start_date=$('#start-date').val()
        start_time=$('#start-time').val()
        end_date=$('#end-date').val()
        end_time=$('#end-time').val()
        val_list=[challenge_name,team,goal_number,start_date,start_time,end_date,end_time]
        //$('#create-challenge').removeClass( 'disabled' )
        valid=true
        val_list.forEach(
            function(element){
                if(element.length==0){
                    $('#create-challenge').addClass( 'disabled' )
                    valid=false
                }
            }
        )
        console.log(valid)
        if (valid){
            start_datetime=Date.parse(start_date+' '+start_time);
            end_datetime=Date.parse(end_date+' '+end_time);
            $('#create-challenge').addClass( 'disabled' )
            if (start_datetime<end_datetime){
                $('#create-challenge').removeClass( 'disabled' )
            }
        }
        console.log(challenge_name.length,team.length,goal_number.length,start_date.length,start_time.length,end_date.length,end_time.length)
    }

    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
        $('select').formSelect();
        $('.tooltipped').tooltip();
    });

    $('.user_input').keyup(
            checkvalid
    )
    $('.user_input').change(
        checkvalid
    )
    $('#create-challenge').click(
        function(){
            checked=undefined
            if ($('#public').is(":checked"))
            {
                checked=true
            }else{
                checked=false
            }
            post_obj={'challenge_name':challenge_name,'team':team,'goal_number':goal_number,'start_datetime':start_datetime,'end_datetime':end_datetime,'public':checked}

            console.log(post_obj)






            $.ajax({
                type: "POST",
                url: "/challenges/create_challenge/{{challenge_type}}",
                data: JSON.stringify(post_obj),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status=="success"){
                        M.toast({ html: data.message, classes: 'rounded button-red' });
                        window.location.href = "/challenges/view_challenge/"+data.challenge_id;
                    }else{
                        M.toast({ html: 'ERROR: '+data.message, classes: 'rounded button-red' });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                  //  M.toast({ html: 'ERROR: Problem Connecting to Zooniverse API', classes: 'rounded button-red' });
                  //  $("#add-user").html("Add User to Invite List");
                  //  $('#add-user').css('background-image','none');
                }
                
            });




        }
    )

</script>