<html class="height_100p">

<head>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/materialize.min.js"></script>

</head>

<body class="height_100p">
    <div class='height_10p center-block'></div>
    <div class='height_10p center-block'></div>
    <div class='height_10p center-block'></div>
    <div class="row ">
        
        <div class="col m6 push-m3 margin-top-15">
            <div class="card">
                <div class="card-title center-align">ERROR</div>
                <div class='center' >{{error_string}}</div>

            </div>
        </div>
    </div>
</body>

</html>

<script>


</script>