<html class="height_100p">

<head>
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
</head>

<body class="height_100p">
  
  <ul id="links-dropdown1" class="dropdown-content dropdown-top">
    <li><a class="dropdown-text" href="https://aspire.unm.edu/">Aspire</a></li>
    <li><a class="dropdown-text" href="https://www.zooniverse.org/projects/rowan-aspire/drones-for-ducks">zooniverse</a>
    </li>
  </ul>
  <nav class="outer-nav">
    <div class="nav-wrapper navbar-unm ">
      <a class="navbar-brand" href="https://www.unm.edu">The University of New Mexico</a>
      <span class="ducks-nav">Drones for Ducks</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="links-dropdown1">Links<i
              class="material-icons  arrow_drop_down right">arrow_drop_down</i></a></li>
        {% if is_authenticated == True %}
        <li><a class="login-logout" href="/admin/logout" id="logout_button">Logout</a></li>
        {% else %}
        <li><a class="login-logout" id="login_button">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  

  {{ body|safe }}

</body>



</html>
