<div class='height_5p center-block'></div>
  <div class='center  '>
    <div class="title">Drones for Ducks</div>
  </div>
  <div class="row">
    <div class="col s2 "></div>
    <div class="col s8 " style="border-top-style: double;">
    

    <div class="col s5 ">
    <ul class="collection">
      <li class="collection-item collection-top"><span class="collection-top" >Top Contributors</span></li>
    

      {% for contributor in top_contributors %}

      <li class="collection-item"> {{ loop.index}} <img src="{{contributor.avatar}}" alt="" class="circle tiny-avatar">  {{ contributor.name }} <span class="secondary-content contrib-pill">{{ contributor.count }}</span>  </li>
        
      {% endfor %}
  <li class="center"><a href="/teams/rankings/all" class="waves-effect waves-light btn rankings-button">View Full Rankings</a></li>
      
    </ul>
  </div>
    <div class="col s7">
      
        <p class="blurb_text flow-text">
        <img src="/static/images/SunAvatar.jpg" alt="SunAvatar" class="avatar_image">
        Migrating birds like ducks, geese, and cranes are important parts of many ecosystems along their seasonal travel
        routes. To ensure there are enough resources to go around, managers of public lands in the Southwestern United
        States conduct waterfowl surveys to know how many birds to expect over winter. Traditional methods of counting
        birds out in the field present a lot of challenges and may not be very precise. In addition, counting birds
        manually from photographs takes a lot of time.

        Our lab at the University of New Mexico is working with the U.S. Fish and Wildlife Service in the Department of
        Interior to help solve these problems. Currently, we are trying to develop an automated method to count birds
        from drone imagery using a machine learning algorithm. In order to work, the algorithm needs be "trained" by
        being fed a lot of different examples of what a "duck" or a "goose" looks like, and that’s where we need help!
        In this project, you will label different kinds of birds from images taken from drones at places like Bosque del
        Apache National Wildlife Refuge in central New Mexico. Your labels will help train a computer algorithm to
        identify and count the birds automatically and ultimately helps federal land managers guide decision making for
        wildlife conservation!
      </p>
      <div class="row">
        <div class="col s6">
          <a href="/teams/create_a_team">
          <div class="big-buttons create-team-button">Create a Team!</div>
        </a>
        </div>
        <div class="col s6">
          <div class="big-buttons create-challange-button">Already Have a Team?<br>Create a Challenge!</div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col s2 "></div>

  </div>
  