<html class="height_100p">

<head>
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
</head>

<body class="height_100p">
  
  <ul id="links-dropdown1" class="dropdown-content dropdown-top">
    {% if is_authenticated == True %}
    <li><a class="dropdown-text" href="/teams/my_teams/">Manage Teams</a></li>
    <li><a class="dropdown-text" href="/challenges/my_challenges/">My Challenges</a></li>
    {% endif %}
    <li><a class="dropdown-text" href="https://aspire.unm.edu/">Aspire</a></li>
    <li><a class="dropdown-text" href="https://www.zooniverse.org/projects/rowan-aspire/drones-for-ducks">zooniverse</a>
    <li><a class="dropdown-text" id="join_us">Create Account</a>
    </li>
  </ul>
  <ul id="links-admin-dropdown" class="dropdown-content dropdown-top">
    <li><a class="dropdown-text" href="/admin/create_user">Create User</a></li>
    <li><a class="dropdown-text" href="/admin/edit_users">Edit Users</a></li>
    <li><a class="dropdown-text" href="/admin/upload_extracts">Upload Extracts CSV</a></li>
  </ul>




  <nav class="outer-nav">
    <div class="nav-wrapper navbar-unm ">
      <!-- <a class="navbar-brand" href="https://www.unm.edu">The University of New Mexico</a> -->
      <a class="aspire-navbar-brand" href="https://aspire.unm.edu/">The University of New Mexico</a>
      <a href="/"><span  class="ducks-nav">Drones for Ducks</span></a>
      <ul id="nav-mobile" class="right ">
      


        {% if is_admin == True %}
        <li><a class="dropdown-trigger" href="#!" data-target="links-admin-dropdown">Admin Links<i
          class="material-icons  arrow_drop_down right">arrow_drop_down</i></a></li>
   
        {% endif %}

        <li><a class="dropdown-trigger" href="#!" data-target="links-dropdown1">User Links<i
              class="material-icons  arrow_drop_down right">arrow_drop_down</i></a></li>
        {% if is_authenticated == True %}
        <li><a class="login-logout" href="/admin/logout" id="logout_button">Logout</a></li>
        {% else %}
        <li><a class="login-logout" id="login_button">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  

  {{ body|safe }}

  <div id="login-modal" class="modal">
    <div id="login_row" class="row">
      <div class="col s1 margin-top-15"></div>
      <div class="col s10 margin-top-15">
        <h4 class="grey-title">login</h4>
        <form action='/admin/login' method='POST'>
          <div class="card-content">
            <div class="row input-field">
              <input type='email' name='email' id='email' placeholder='email' class='validate' />
              <span class="helper-text" data-error="please enter valid email" data-success=""></span>
            </div>
            <div class="row input-field">
              <input type='password' name='password' id='password' placeholder='password' class='validate' />
            </div>
          </div>
          <div class="card-action right-align">
            <a type="create" id="create_button" class=" btn-flat grey-text waves-effect waves-light">Create an Account</a>
           
            <a type="reset" id="reset_button" class=" btn-flat grey-text waves-effect waves-light">Reset Password</a>
            
            <button type="submit" class="green waves-effect waves-light btn-small" value="Login">Login</button>
          </div>
        </form>
      </div>
      <div class="col s1"></div>
    </div>
  </div>
  <div id="reset-pass-modal" class="modal">
    <div id="reset_row" class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <h4 class="grey-title">reset password</h4>
        <form action='/admin/password_reset_request' method='POST'>
          <div class="card-content">
            <div class="row input-field">
              <input type='email' name='email' id='email' placeholder='email' class='validate' />
              <span class="helper-text" data-error="please enter valid email" data-success=""></span>
            </div>
          </div>
          <div class="card-action right-align">
            <a type="reset" id="reset_return" class="reset_return btn-flat grey-text waves-effect waves-light">Return to
              Login</a>
            <button type="submit" class="green waves-effect waves-light btn-small" value="Login">Request Reset
              Link</button>
          </div>
        </form>
      </div>
      <div class="col s1"></div>
    </div>
  </div>
  <div id="create-pass-modal" class="modal">
    <div id="create_row" class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <h4 class="grey-title">create an account</h4>
        <div class="center">An e-mail will be sent to the address you provide with password creation instructions.</div>
        <form action='/admin/account_request' method='POST'>
          <div class="card-content">
            <div class="row input-field">
              <input type='email' name='email' id='email' placeholder='email' class='validate' />
              <span class="helper-text" data-error="please enter valid email" data-success=""></span>
            </div>
          </div>
          <div class="card-action right-align">
            <a type="reset" id="create_return" class="reset_return btn-flat grey-text waves-effect waves-light">Return to
              Login</a>
            <button type="submit" class="green waves-effect waves-light btn-small" value="Login">Create Account</button>
          </div>
        </form>
      </div>
      <div class="col s1"></div>
    </div>
  </div>
  <script>
    //activate the materialize fields when the page is loaded.
    $(document).ready(function () {
      $('.dropdown-trigger').dropdown();
      $('.modal').modal();
    })
  
    //show the login modal
    $('#login_button').click(function () {
      login_modal = M.Modal.getInstance($('#login-modal'));
      login_modal.open();
    })
  
    //hide the login modal and show the reset password modal
    $('#reset_button').click(function () {
      login_modal = M.Modal.getInstance($('#login-modal'));
      login_modal.close();
      reset_modal = M.Modal.getInstance($('#create-pass-modal'));
      reset_modal.close();
      reset_modal = M.Modal.getInstance($('#reset-pass-modal'));
      reset_modal.open();
    })
  

    //hide the login modal and show the create account modal
    $('#create_button,#join_us').click(function () {
      login_modal = M.Modal.getInstance($('#login-modal'));
      login_modal.close();
      reset_modal = M.Modal.getInstance($('#reset-pass-modal'));
      reset_modal.close();
      reset_modal = M.Modal.getInstance($('#create-pass-modal'));
      reset_modal.open();
    })


    //hide the password reset modal and show the login modal
    $('.reset_return').click(function () {
      reset_modal = M.Modal.getInstance($('#reset-pass-modal'));
      reset_modal.close();
      reset_modal = M.Modal.getInstance($('#create-pass-modal'));
      reset_modal.close();
      login_modal = M.Modal.getInstance($('#login-modal'));
      login_modal.open();
    })
  </script>

</body>



</html>
