<html class="height_100p">

<head>
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
</head>

<body class="height_100p">
  <ul id="links-dropdown1" class="dropdown-content dropdown-top" >
    <li><a class="dropdown-text" href="https://aspire.unm.edu/">Aspire</a></li>
    <li><a class="dropdown-text" href="https://www.zooniverse.org/projects/rowan-aspire/drones-for-ducks">zooniverse</a></li>
    
  
  </ul>
  <nav class="outer-nav">
    <div class="nav-wrapper navbar-unm ">

      <a class="navbar-brand" href="https://www.unm.edu">The University of New Mexico</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a class="dropdown-trigger" href="#!" data-target="links-dropdown1">Links<i class="material-icons  arrow_drop_down right">arrow_drop_down</i></a></li>
        <li><a >Login</a></li>
        
      </ul>
    </div>
  </nav>
  <div class='height_5p center-block'></div>
  <div class='center  '>
    <div class="title">Drones for Ducks</div>
  </div>
  <div class="row">
    <div class="col s2 "></div>
    <div class="col s8"><span class="blurb_text flow-text">
      Migrating birds like ducks, geese, and cranes are important parts of many ecosystems along their seasonal travel routes. To ensure there are enough resources to go around, managers of public lands in the Southwestern United States conduct waterfowl surveys to know how many birds to expect over winter. Traditional methods of counting birds out in the field present a lot of challenges and may not be very precise. In addition, counting birds manually from photographs takes a lot of time.

      Our lab at the University of New Mexico is working with the U.S. Fish and Wildlife Service in the Department of Interior to help solve these problems. Currently, we are trying to develop an automated method to count birds from drone imagery using a machine learning algorithm. In order to work, the algorithm needs be "trained" by being fed a lot of different examples of what a "duck" or a "goose" looks like, and that’s where we need help! In this project, you will label different kinds of birds from images taken from drones at places like Bosque del Apache National Wildlife Refuge in central New Mexico. Your labels will help train a computer algorithm to identify and count the birds automatically and ultimately helps federal land managers guide decision making for wildlife conservation!

    </span></div>
    <div class="col s2 "></div>
    
    <div class="col s6 "><span class="flow-text">6-columns </span></div>
    <div class="col s6 "><span class="flow-text">6-columns </span></div>
  </div>
</body>

</html>
<script>
  $( document ).ready(function(){
    console.log('begin')
    $(".dropdown-trigger").dropdown();
  })
</script>