<html class="height_100p">

<head>
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    
</head>

<body class="height_100p">

    <div class='height_10p center-block'></div>
    <div class='height_10p center-block'></div>
    <div class='height_10p center-block'>
    
             <div id="error_text" class=" error_text error_flex valign-wrapper "></div>
     
       
    </div>

    <div class="row ">
        <div class="col s12 m4 push-m4 margin-top-15">
            <div class="card">
                <div class="card-title center-align">Drones For Ducks Password Reset for {{username}}</div>
                <form action='/admin/set_password' method='POST'>
                    <div class="card-content">
                        <div class="row input-field">
                            <input type='password' name='password1' id='password1' placeholder='password' class='validate' />
                        </div>
                        <div class="row input-field">
                            <input type='password' name='password2' id='password2' placeholder='password' class='validate' />
                        </div>

                        <input style="display:none" type='text' name='token' id='token'  class='validate' value='{{token}}'/>
                        <input style="display:none" type='text' name='user_id' id='user_id'  class='validate' value='{{user_id}}'/>
                    </div>
                   
                    <div class="card-action center-align">
                        <button id="submit_button" type="submit" class=" waves-effect waves-light btn-small disabled" value="Login">Change Password</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>

</html>

<script>

    function password_complexity_check(){
        password=$('#password1').val()
        $('#submit_button').addClass( "disabled" )
        if ((password.match(/[a-z]+/)!== null) && (password.match(/[A-Z]+/)!== null) && (password.match(/[0-9]+/)!== null) && (password.match(/[$@#&!]+/)!== null) && (password.length >= 10)) {
            $('#error_text').text('\n')
        }else{
            $('#error_text').text('Password must be at least 10 characters and must contain uppercase,lowercase,number and at least one of these special characters: $@#&!')
        }
    }

    function password_sanity_check(){
       if ($('#password1').val()==$('#password2').val()){
            $('#error_text').text('\n')
            $('#submit_button').removeClass( "disabled" )
       }else{
            $('#error_text').text('Both password fields must match.')
            
            
       }
       
        
    }
    

    $('#password1').on("input", password_complexity_check);

    $('#password2').on("input", password_sanity_check);

</script>